[submodule "lib/chaiscript"]
	path = lib/chaiscript
	url = https://github.com/ChaiScript/ChaiScript.git
[submodule "lib/ruby"]
	path = lib/ruby
	url = https://github.com/ruby/ruby.git
[submodule "lib/jest"]
	path = lib/jest
	url = https://github.com/jeaye/jest.git
